body, #root {
  display: flex;
  justify-content: flex-start;   /* Horizontal center */
   align-items: flex-start;   /* Align to top  */
  /* min-height: 100vh;         Full screen */
  margin: 10px;
}

body::-webkit-scrollbar{
  display: none;
}

#container {
  margin-top: 20px;          /* Small gap from top */
}
