body, #root {
  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: flex-start;    /* Align to top  */
  /* min-height: 100vh;         Full screen */
}

#container {
  margin-top: 20px;          /* Small gap from top */
}
